<%= turbo_frame_tag :crawl_market_list do %>
  <div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100" data-theme="caramellatte">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <% CrawlMarket.display_fields.each do |column_name| %>
            <th><%= column_name.humanize.titlecase %></th>
          <% end %>
          <th class="w-25">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if CrawlMarket.all.present? %>
          <% CrawlMarket.all.each do |crawl_market| %>
            <tr class="hover:bg-base-300 cursor-pointer">
              <th><%= crawl_market.id %></th>
              <td><%= crawl_market.code %></td>
              <td><%= crawl_market.name %></td>
              <td><%= crawl_market.crawler_paths_normalize %></td>
              <td>
                <input
                  type="checkbox"
                  <%= crawl_market.enabled ? "checked" : "" %>
                  class="toggle toggle-md"
                  data-reflex="click->CrawlMarketReflex#toggle"
                  data-id="<%= crawl_market.id %>"
                />
              </td>
              <td class="w-35">
                <div>
                  <%= link_to crawl_market_crawler_fields_path(crawl_market), class: "btn btn-success btn-sm btn-square", data: { turbo: false } do %>
                    <%= icon "sitemap", class: "fill-primary-content" %>
                  <% end %>
                  <%= link_to edit_crawl_market_path(crawl_market),
                    class: "btn btn-accent btn-sm btn-square",
                    data: {
                      turbo_method: :get,
                      turbo_frame: "edit_crawl_market_frame"
                    } do %>
                    <%= icon "edit", class: "fill-accent-content" %>
                  <% end %>
                  <%= link_to crawl_market_path(crawl_market),
                    class: "btn btn-error btn-sm btn-square",
                    data: {
                      turbo_confirm: "Are you sure you want to delete the crawl market?",
                      turbo_method: :delete
                    } do %>
                    <%= icon "trash", class: "fill-error-content" %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="<%= CrawlMarket.display_fields.size + 1 %>">
              <div class="flex items
              -center justify-center space-x-2">
                <%= icon "archive", class: "fill-base-content" %>
                <span>No crawl markets found</span>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
