<div class="w-full md:w-1/2 flex items-center">
  <div class="w-full max-w-170 mx-auto px-8 pb-28 pt-16">
    <div class="flex items-center justify-center">
      <a href="/">
        <img src="/shop-icon.png" alt="Shop" class="w-24 h-24">
      </a>
    </div>
    <div class="text-center mt-1 mb-5">
      <h1 class="text-24 font-medium">Sign in to Your Shop</h1>
    </div>
    <div class="lg:flex lg:items-center mb-4">
      <div class="text-sm mb-4 lg:w-1/2 lg:mb-0 lg:mr-2">
        <a href="" id="google-login" class="flex items-center justify-center pl-2 pr-2.25 py-3 font-medium border border-slate-300 rounded-lg hover:border-slate-500">
          <svg class="flex-shrink-0 w-6 h-6 mr-2" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M19.68 12.1818C19.68 11.6145 19.6291 11.0691 19.5345 10.5454H12V13.64H16.3055C16.12 14.64 15.5564 15.4873 14.7091 16.0545V18.0618H17.2945C18.8073 16.6691 19.68 14.6182 19.68 12.1818Z" fill="#4285F4"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0007 20C14.1607 20 15.9716 19.2836 17.2952 18.0618L14.7097 16.0545C13.9934 16.5345 13.077 16.8182 12.0007 16.8182C9.91702 16.8182 8.15338 15.4109 7.52429 13.52H4.85156V15.5927C6.16793 18.2073 8.87338 20 12.0007 20Z" fill="#34A853"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.52364 13.52C7.36364 13.04 7.27273 12.5273 7.27273 12C7.27273 11.4727 7.36364 10.96 7.52364 10.48V8.40726H4.85091C4.30909 9.48726 4 10.7091 4 12C4 13.2909 4.30909 14.5127 4.85091 15.5927L7.52364 13.52Z" fill="#FBBC05"></path>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12.0007 7.18182C13.1752 7.18182 14.2297 7.58545 15.0588 8.37818L17.3534 6.08364C15.9679 4.79273 14.157 4 12.0007 4C8.87338 4 6.16793 5.79273 4.85156 8.40727L7.52429 10.48C8.15338 8.58909 9.91702 7.18182 12.0007 7.18182Z" fill="#EA4335"></path>
          </svg>
          <span>Sign in with Google</span>
        </a>
      </div>
      <div class="text-sm lg:w-1/2">
        <a href="" id="twitter-login" class="flex items-center justify-center pl-2 pr-2.25 py-3 font-medium border border-slate-300 rounded-lg hover:border-slate-500">
          <svg class="flex-shrink-0 w-6 h-6 mr-2" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.15416 20C15.939 20 19.6496 14.2284 19.6496 9.22393C19.6496 8.94418 19.8544 8.69618 20.1178 8.58077C21.0208 8.18495 22.1921 7.09931 20.9825 5.27393C20.1811 5.69091 19.5225 5.91874 18.6401 6.19337C17.2436 4.66871 14.9069 4.59523 13.4213 6.02913C12.463 6.95383 12.0569 8.33223 12.3541 9.64765C9.3879 9.49541 6.62473 8.057 4.75194 5.6909C3.77317 7.42179 4.27278 9.63566 5.89358 10.7479C5.30632 10.7299 4.73221 10.567 4.21947 10.2739V10.3219C4.21947 12.1248 5.45752 13.6772 7.17839 14.0341C6.63568 14.1864 6.06596 14.2089 5.51303 14.0994C5.99657 15.6421 7.38071 16.6987 8.95914 16.7294C7.65242 17.7831 6.03893 18.3554 4.37796 18.3538C4.08434 18.3531 3.79144 18.3351 3.5 18.2991C5.18727 19.4106 7.1499 20 9.15416 19.997V20Z" fill="#00ACFF"></path>
          </svg>
          <span>Sign in with Twitter</span>
        </a>
      </div>
    </div>
    <div class="relative flex items-center justify-center h-10 mb-2 text-gray-400 text-sm">
      <div class="absolute top-[50%] w-full border-t border-gray-200"></div>
      <div class="relative z-10 text-[13px] text-grey bg-base-100 px-2">
        Or
      </div>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-4">
        <legend class="fieldset-legend text-sm">Email</legend>
        <label class="input input-md w-full rounded-xl">
          <%= icon "envelope", class: ["w-4 h-4 opacity-50"]%>
          <%= f.email_field :email, autofocus: true, placeholder: "Email address" %>
        </label>
      </div>

      <div class="mb-4">
        <legend class="fieldset-legend text-sm">Password</legend>
        <label class="input w-full rounded-xl">
          <%= icon "key", class: ["opacity-50 w-4 h-5"]%>
          <%= f.password_field :password,
            placeholder: "Password",
            minlength: "8",
            pattern: "(?=.*\\d)(?=.*[a-z])(?=.*[A-Z]).{8,}",
            title: "Must be more than 8 characters, including number, lowercase letter, uppercase letter"
          %>
        </label>
        <p class="validator-hint hidden">
          Must be more than 8 characters, including
          <br/>At least one number
          <br/>At least one lowercase letter
          <br/>At least one uppercase letter
        </p>
      </div>

      <div class="mt-8">
        <%= f.submit "Sign in", class: "btn btn-primary btn-outline btn-lg w-full" do %>
          <span class="mx-auto">Sign in</span>
        <% end %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="flex items-center justify-center w-full mt-8">
          <label class="fieldset-label text-sm">
            <%= f.check_box :remember_me, class: "checkbox checkbox-sm" %>
            Remember me
          </label>
        </div>
      <% end %>
    <% end %>
    <div class="flex items-center justify-center mt-5 text-sm">
      <p class="mx-2">
        <%= link_to "Forgot your password?", new_user_password_path, class: "text-gray-500 hover:text-primary-content" %>
      </p>
      <p class="mx-2">
        <%= link_to "Sign Up", new_user_registration_path, class: "text-gray-500 hover:text-primary-content" %>
      </p>
      <p class="mx-2">
        <a href="/" class="text-gray-500 hover:text-primary-content">Contact Customer</a>
      </p>
    </div>
  </div>
</div>
