<div class="collapse bg-base-100 border border-base-300" data-theme="caramellatte">
   <%= radio_button "exchange-rate-item", nil, nil,
      class: "collapse-radio", checked: exchange.persisted? ? selected_id == exchange&.to_gid_param : true
    %>
  <div class="collapse-title font-semibold" id="exchang-rate-<%= exchange.persisted? ? exchange&.to_gid_param : nil %>">
    <%= exchange.persisted? ? "#{exchange.currency_code} - #{exchange.rate}" : "New Exchange Rate" %>
  </div>
  <div class="collapse-content text-sm">
    <div class="flex flex-row items-center gap-4">
      <fieldset class="fieldset flex flex-1">
        <legend class="fieldset-legend">Country Currency: </legend>
        <%= select_tag "currency_code",
          options_for_select(ExchangeRate::SUPPORTED_CURRENCIES.map(&:upcase), exchange.currency_code),
          class: "input bg-white w-full",
          data: {
            id: exchange.id,
            reflex: "change->ExchangeRate#update_currency_code"
          }
        %>
      </fieldset>
      <fieldset class="fieldset flex flex-1">
        <legend class="fieldset-legend">Rate: </legend>
        <%= text_field_tag "rate",
          exchange.rate,
          class: "input bg-white w-full",
          data: {
            id: exchange.id,
            reflex: "change->ExchangeRate#update_rate"
          }
        %>
      </fieldset>
    </div>
  </div>
</div>
